body {
    font-family: arial, sans-serif;
    margin: 0px;
    background-color: rgb(250, 140, 66);
    ;
}

body.right {
    background-color: #04c0b2;
}

button {
    color: white;
    background-color: #3f5074;
    border: solid 0vw #111722;
    height: 10vh;
    width: 30vh;
    font-size: medium;
    border-radius: 0.5vw;
    transition: 400ms;
    cursor: pointer;
}

button:hover {
    background-color: #505e7a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 0px;
}

.container.appear {
    height: 100vh;
}

.menus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.startMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    transform-origin: bottom;
    transform: scale(1.0);
    width: 100vw;
    transition: 1500ms;
    margin: 0px;
    position: fixed;
}

.startMenu.left {
    opacity: 0%;
    pointer-events: none;
    transform: translateX(100vw);
}

.startMenu.right {
    opacity: 0%;
    pointer-events: none;
    transform: translateX(-100vw);
}

.button1 {
    display: flex;
    top: 47vh;
    left: 17vw;
    position: absolute;
}

.button2 {
    display: flex;
    top: 47vh;
    left: 67vw;
    position: absolute;
}

.startBasicTicTacToe {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10vw;
    transition: 400ms;
    cursor: pointer;
    margin: 3px;
    text-shadow: black 0px 0px;
}

.startBasicTicTacToe:hover {
    color: rgb(236, 236, 236);
    background-color: transparent;
}

.basicTicTacToeTextDiv{
    font-family: 'Roboto Slab', serif;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    color: white;
    transition: 400ms;
    cursor: pointer;
    margin: 3px;
    text-shadow: black 0px 0px;
}

.startTicTacToe2 {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8vw;
    transition: 400ms;
    cursor: pointer;
    text-align: right;
    margin: 3px;
}

.startTicTacToe2:hover {
    color: rgb(236, 236, 236);
    background-color: transparent;
}

.background {
    width: 100vw;
    top: 0px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: -100;
    height: 100vh;
}

.backgroundLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    margin: 0px;
    background-color: rgb(250, 140, 66);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1000ms;
}

.backgroundLeft.hover {
    background-color: rgb(219, 121, 55);
    filter: blur(1.5px);
}

.backgroundRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    margin: 0px;
    background-color: #04c0b2;
    background-position: center;
    transition: 1000ms;
}

.backgroundRight.hover {
    background-color: #10a89e;
    filter: blur(1.5px);
}

.gameBoard {
    display: flex;
    align-items: center;
    position: relative;
    display: none;
    justify-content: center;
    transform: scale(0.3);
    transition: ease-in-out 600ms;
    opacity: 0%;
    height: auto;
    max-height: 0px;
}

.gameBoard.appear {
    max-height: 500px;
    opacity: 100%;
    position: relative;
    transform: scale(1);
}

.gameBoard.restart {
    max-height: 500px;
    opacity: 0%;
    transform: scale(0.5);
}

.gameBoard.displayFlex {
    display: flex;
}

.gameContainer {
    width: 50vmin;
    height: 50vmin;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameContainer.longWay {
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    width: 60vmin;
    height: 60vmin;
}

.cell {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.cell.ticTacToeTwo {
    font-size: 2.5em;
}

.returnMenu {
    opacity: 0%;
    transition: 700ms;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 324px;
    height: 0px;
    bottom: -50px;
    pointer-events: none;
}

.returnMenu.appear {
    display: flex;
    position: fixed;
    pointer-events: all;
    opacity: 100%;
    bottom: 8vh;
}

.returnMenu.opacity {
    opacity: 0%;
}

.returnMenu.restart {
    bottom: -50px;
    opacity: 0%;
}

/* fix bottom margin*/

.restartGameButton {
    height: 10vh;
    margin: 5px;
    background-color: #f7e4ac;
    color: #202f49;
    width: 45%;
}

.restartGameButton:hover {
    background-color: #aca48c;
}

/* fix bottom margin*/

.menuButton {
    height: 10vh;
    margin: 5px;
    width: 45%;
    opacity: 100%;
}

.scoreBoard {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    opacity: 0%;
    height: 25vh;
    width: 150vw;
    transition: 1000ms;
}

.scoreBoard.appear {
    width: 100vw;
    opacity: 100%;
}

.divSquareX {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.divSquareO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.squareX {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 0vh 2vh 2vh 0vh;
    color: rgb(216, 108, 35);
    font-size: 55px;
    margin-right: 2px;
    outline: #04c0b2 0px solid;
}

.squareX.win {
    animation: xwinner 1200ms infinite;
}

.pointsX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 4.5vh;
    text-shadow: 1px 1px rgb(221, 90, 3);
    color: white;
    font-size: 4.5vh;
}


.squareO {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 2vh 0px 0px 2vh;
    color: #04c0b2;
    font-size: 55px;
    margin-left: 2px;
}

.squareO.win {
    animation: owinner 1200ms infinite;
}

.pointsO {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 4.5vh;
    text-shadow: 1px 1px #04c0b2;
    outline: #04c0b2 0px solid;
    color: white;
    font-size: 4.5vh;
}

@keyframes xwinner {
    0% {
        outline: #2c3e50 0px solid;
    }

    50% {
        outline: rgb(255, 255, 255) 5px solid;
    }

    100% {
        outline: #2c3e50 0px solid;
    }
}

@keyframes owinner {
    0% {
        outline: #2c3e50 0px solid;
    }

    50% {
        outline: #ffffff 5px solid;
    }

    100% {
        outline: #2c3e50 0px solid;
    }
}


/* color: #d7a62f;
    background-color: #f7e4ac;
    color: #5586e2;
    border: 2px solid #d86c23
*/