body {
    font-family: arial, sans-serif;
    margin: 0px;
    background-color: rgb(250, 140, 66);
}

body.right {
    background-color: #04c0b2;
}

button {
    border: solid 0vw #111722;
    font-size: medium;
    border-radius: 2vh 2vh 0vw 0vw;
    transition: 400ms;
    cursor: pointer;
}

button:hover {
    background-color: #505e7a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 0px;
}

.container.appear {
    height: 100vh;
}

.menus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.startMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    transform-origin: bottom;
    transform: scale(1.0);
    width: 100vw;
    transition: 1500ms;
    margin: 0px;
    position: fixed;
}

.startMenu.left {
    opacity: 0%;
    pointer-events: none;
    transform: translateX(100vw);
}

.startMenu.right {
    opacity: 0%;
    pointer-events: none;
    transform: translateX(-100vw);
}

.button1 {
    display: flex;
    top: 47vh;
    left: 17vw;
    position: absolute;
}

.button2 {
    display: flex;
    top: 47vh;
    left: 67vw;
    position: absolute;
}

.startBasicTicTacToe {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10vw;
    transition: 400ms;
    cursor: pointer;
    margin: 3px;
    text-shadow: black 0px 0px;
}

.startBasicTicTacToe:hover {
    color: rgb(236, 236, 236);
    background-color: transparent;
}

.basicTicTacToeTextDiv {
    font-family: 'Roboto Slab', serif;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    color: white;
    transition: 400ms;
    cursor: pointer;
    margin: 3px;
    text-shadow: black 0px 0px;
}

.startTicTacToe2 {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8vw;
    transition: 400ms;
    cursor: pointer;
    text-align: right;
    margin: 3px;
}

.startTicTacToe2:hover {
    color: rgb(236, 236, 236);
    background-color: transparent;
}

.background {
    width: 100vw;
    top: 0px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: -100;
    height: 100vh;
}

.backgroundLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    margin: 0px;
    background-color: rgb(250, 140, 66);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1000ms;
}

.backgroundLeft.hover {
    background-color: rgb(219, 121, 55);
    filter: blur(1.5px);
}

.backgroundRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    margin: 0px;
    background-color: #04c0b2;
    background-position: center;
    transition: 1000ms;
}

.backgroundRight.hover {
    background-color: #10a89e;
    filter: blur(1.5px);
}

.gameBoard {
    display: flex;
    align-items: center;
    position: relative;
    display: none;
    justify-content: center;
    transform: scale(0.3);
    transition: ease-in-out 600ms;
    opacity: 0%;
    height: auto;
    max-height: 0px;
}

.gameBoard.appear {
    max-height: 500px;
    opacity: 100%;
    position: relative;
    transform: scale(1);
}

.gameBoard.restart {
    max-height: 500px;
    opacity: 0%;
    transform: scale(0.5);
}

.gameBoard.displayFlex {
    display: flex;
}

.gameContainer {
    width: 50vmin;
    height: 50vmin;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 1vh solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameContainer.longWay {
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    width: 70vmin;
    height: 70vmin;
}

.cell {
    border: 1vh solid #2c3e50;
    border-radius: 1px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.ticTacToeTwo {
    font-size: 8.5vmin;
}

.returnMenu {
    opacity: 0%;
    transition: 700ms;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 324px;
    height: 10vh;
    bottom: -20vh;
    pointer-events: none;
}

.returnMenu.appear {
    display: flex;
    position: fixed;
    pointer-events: all;
    opacity: 100%;
    bottom: -1vh;
}

.returnMenu.opacity {
    opacity: 0%;
}

.returnMenu.restart {
    bottom: -20vh;
    opacity: 0%;
}

/* fix bottom margin*/

.restartGameButton {
    height: 10vh;
    margin: 5px;
    background-color: #34495e;
    border: 1vh solid #2c3e50;
    color: #ffffff;
    width: 45%;
    font-family: Helvetica;
    font-weight: bold;
}

.menuButton {
    height: 10vh;
    margin: 5px;
    width: 45%;
    opacity: 100%;
    background-color: #34495e;
    border: 1vh solid #2c3e50;
    color: #ffffff;
    font-family: Helvetica;
    font-weight: bold;
}

.scoreBoard {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    opacity: 0%;
    height: 25vh;
    width: 150vw;
    transition: 1000ms;
}

.scoreBoard.appear {
    width: 100vw;
    opacity: 100%;
}

.divSquareX {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.divSquareO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.squareX {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 0vh 2vh 2vh 0vh;
    color: rgb(221, 90, 3);
    font-size: 55px;
    margin-right: 2px;
}

.squareX.win {
    color: rgb(221, 90, 3);
    animation: xwinner 1800ms infinite;
}

.squareX.current {
    color: rgb(255, 255, 255);
    animation: xwinner 1800ms infinite;
}


.pointsX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 4.5vh;
    text-shadow: 1px 1px rgb(221, 90, 3);
    color: white;
    font-size: 4.5vh;
}


.squareO {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    height: 14.5vh;
    width: 14.5vh;
    border-radius: 2vh 0px 0px 2vh;
    color: rgb(83 255 243);
    font-size: 55px;
    margin-left: 2px;
}

.squareO.win {
    color: rgb(83 255 243);
    animation: owinner 1800ms infinite;
}

.squareO.current {
    color: rgb(255, 255, 255);
    animation: owinner 1800ms infinite;
}


.pointsO {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 4.5vh;
    text-shadow: 1px 1px #04c0b2;
    outline: #04c0b2 0px solid;
    color: white;
    font-size: 4.5vh;
}

@keyframes xwinner {
    0% {
        outline:  0px transparent;
    }

    50% {
        outline:  5px solid;
    }

    100% {
        outline:  0px transparent;
    }
}

@keyframes owinner {
    0% {
        outline:  0px transparent;
    }

    50% {
        outline:  5px solid;
    }

    100% {
        outline:  0px transparent;
    }
}



/* color: #d7a62f;
    background-color: #f7e4ac;
    color: #5586e2;
    border: 2px solid #d86c23
*/

.vl {
    position: absolute;
    height: 0px;
    width: 1vmin;
    transition: 150ms;
    border-radius: 100px;
}

.vl.row1 {
    transform: rotate(90deg) translateX(-16.7vmin);
}

.vl.row2 {
    transform: rotate(90deg);
}

.vl.row3 {
    transform: rotate(90deg) translateX(16.6vmin);
}

.vl.column1{
    transform: translateX(-16.7vmin);;
}

.vl.column3 {
    transform: translateX(16.6vmin);
}

.vl.negative {
    transform: rotate(135deg);
}

.vl.positive {
    transform: rotate(45deg);
}

.vl.appear {
    height: 48vmin;
    transition: 300ms;
}

.vl.diagonal {
    height: 67.5vmin;
    transition: 300ms;
}



@media (max-width : 660px) {

    .gameContainer {
        width: 78vmin;
        height: 78vmin;
    }

    .gameContainer.longWay {
        grid-template: repeat(6, 1fr) / repeat(6, 1fr);
        width: 90vmin;
        height: 90vmin;
    }

    .cell {
        font-size: 15vmin;
    }

    .scoreBoard {
        height: 20vh;
        top: 0px;
    }

    .scoreBoard.appear {
        width: 101vw;
    }

    .returnMenu {
        height: 20vh;
        width: 101vw;
        justify-content: space-between;
    }

    .squareX{
        height: 10vh;
    }

    .squareO{
        height: 10vh;
    }


    .restartGameButton {
        border-radius: 0vh 2vh 2vh 0vh;
        margin: 0px;
        width: 20vh;
        font-size: x-large;
    }

    .menuButton {
        border-radius: 2vh 0vh 0vh 2vh;
        margin: 0px;
        width: 20vh;
        font-size: x-large;
    }

    .vl.appear {
        height: 73vmin;
        width: 2vmin;
        transition: 300ms;
    }
    
    .vl.diagonal {
        height: 104vmin;
        width: 2vmin;
        transition: 300ms;
    }

    .vl.row1 {
        transform: rotate(90deg) translateX(-25.9vmin);
    }
    
    .vl.row3 {
        transform: rotate(90deg) translateX(25.6vmin);
    }
    
    .vl.column1{
        transform: translateX(-25.7vmin);;
    }
    
    .vl.column3 {
        transform: translateX(25.6vmin);
    }



}